body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffff;
  font:black;
}

.app {
  display: flex;
}

.sidebar {
  width: 72px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow:none;
 
}
.menu-icon {
  margin-bottom: 30px;
  font-size: 18px;
  
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.menu-item i {
  font-size: 20px;
  margin-bottom: 5px;
}

.menu-item span {
  font-size: 12px;
  color: black;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: white;
  
}

.logo {
  height: 30px;
}

.center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
}

.search-container {
  flex: 1;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}

.search-container input {
  flex: 1;
  border: none;
  padding: 8px 12px;
  outline: none;
}

.search-btn {
  background-color: #f8f8f8;
  border: none;
  padding: 0 12px;
  cursor: pointer;
}

.mic-btn {
  margin-left: 10px;
  background-color: #f0f0f0;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.notification {
  position: relative;
  font-size: 18px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
}

.profile {
  background-color: #0097a7;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}


.categories {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-bottom: 20px;
}

.categories button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  width: 320px;
  height:300px;
  margin: 0 auto;
  cursor: pointer;
}

.thumbnail-container {
  position: relative;
}

.thumbnail {
  width: 100%;
  border-radius: 8px;
}

.duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 3px;
}

.video-info {
  display: flex;
  margin-top: 10px;
  padding:10px;
}

.channel-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}

.text-info {
  flex: 1;
}

.video-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #0f0f0f;
}

.channel-name,
.video-meta {
  font-size: 13px;
  color: #606060;
  margin: 2px 0;
}